/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/raleway-v27-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v27-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-500 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/raleway-v27-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v27-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/raleway-v27-latin_cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v27-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #000;
  background: url(../img/img1.png) no-repeat top -1px left 727px,
    url(../img/sawdust.png) no-repeat top 822px left 1036px,
    url(../img/wood.png) no-repeat left 0px top 1049px,
    url(../img/sheet.png) no-repeat left 1724px top 1419px,
    url(../img/cloud2.png) no-repeat top 625px left 1330px,
    url(../img/cloud3.png) no-repeat top 1400px left -70px,
    url(../img/cloud4.png) no-repeat top 1987px left 1041px,
    url(../img/sheet2.png) no-repeat top 2196px left 669px,
    url(../img/video_house.png) no-repeat top 1530px left 0px,
    url(../img/cloud5.png) no-repeat top 2748px left 0px,
    url(../img/shepki.png) no-repeat top 2986px left 857px,
    url(../img/house2.png) no-repeat top 3170px left 0px,
    url(../img/wood2.png) no-repeat top 2911px left 1525px border-box,
    url(../img/shepki\ 2.png) no-repeat top 3520px left 1536px;
}

.wrapper {
  max-width: 1580px;
  margin: 26px 170px;
  padding: 0 15px;
}

/* header styles start*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 310px;
  background: url(../img/cloud.png) no-repeat top 10.6px left 1614px;
}

.header_wrapper {
  display: inline-flex;
}

.header_time {
  width: 186px;
  height: 48px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-left: 103px;
  border-radius: nullpx;
}

.order-form_a_layout {
  width: 283px;
  height: 64px;
  margin-left: 92px;
}

.order-form_mobile {
  width: 275px;
  height: 64px;
  margin-left: 72px;
}
.order-form_submit {
  margin-left: 31px;
  width: 238px;
  height: 64px;
  border: none;
  border-radius: 6px;
  background: #319f1c;
  box-shadow: 0px 4px 5px 0px #319f1c;
  padding: 22px 56px 23px 57px;
  color: #fff;
}

.order-form_submit:hover,
.order-form_submit:active {
  background: #39cb1c;
}
nav {
  display: table;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu::after {
  content: "";
  display: table;
  clear: both;
}
.menu {
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(246, 246, 246, 0) 1.47%,
    rgba(163, 210, 155, 0.92) 7.25%,
    #319f1c 14.68%,
    #309e1b 50.68%,
    #319f1c 84.33%,
    rgba(147, 202, 137, 0.79) 91.68%,
    rgba(246, 246, 246, 0) 99.05%
  );
  width: 1580px;
  height: 64px;
  margin-top: 29px;
  margin-bottom: 68px;
  border-radius: 3px;
}

.menu > li {
  float: left;
  position: relative;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.menu > li > a {
  margin-left: 162px;
  margin-top: 22px;
}

.nav-menu:after {
  color: inherit;
  margin-left: 10px;
}

.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  padding-left: 34px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  box-sizing: border-box;
  width: 275px;
  transform: translateX(15%);
  text-indent: -30px;
}

.submenu li:last-child a {
  border-bottom: none;
}

.menu a {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}

.menu a:hover {
  opacity: 0.85;
}

.menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  display: none;
  padding: 0;
}

.menu li:hover ul {
  display: flex;
  flex-flow: column;
  background: #595959;
  height: 150px;
  width: 348px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  transform: translateX(25%);
}

/* header styles end */

/* info styles start*/

.info {
  display: flex;
  width: 1903px;
  background: url(../img/cloud2.png) no-repeat top 625px left 1330px;
}
.info-wrapper {
  display: flex;
  flex-flow: column;
  margin-left: 170px;
  margin-top: 254px;
  width: 894px;
  height: 100%;
}
.info_title {
  max-width: 874px;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 900;
  line-height: 52px;
  text-align: left;
  color: #363130;
  margin-bottom: 22px;
}

.info_subtitle {
  height: 78px;
  width: 874px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #000000;
  margin-bottom: 44px;
}

.menu-ico {
  display: flex;
}
.menu-ico_wrap {
  display: inline-block;
  margin-right: 120px;
  margin-bottom: 61px;
}
.menu-ico_wrap:first-child {
  margin-right: 102px;
}
.menu-cases {
  width: 88px;
  height: 88px;
  border: 1px solid rgba(49, 159, 28, 1);
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
  background: none;
}

.menu-video_blog {
  width: 88px;
  height: 88px;
  border: 1px solid rgba(49, 159, 28, 1);
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
  background: none;
}

.menu-articles {
  width: 88px;
  height: 88px;
  border: 1px solid rgba(49, 159, 28, 1);
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
  background: none;
}

.menu-cases:hover,
.menu-video_blog:hover,
.menu-articles:hover {
  border: 5px solid rgba(49, 159, 28, 1);
  box-shadow: 0px 4px 8px 0px rgba(100, 188, 69, 1);
}

.menu_ico_text {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

.menu_ico_text:hover {
  font-weight: 600;
}

.menu_ico_text_case,
.menu_ico_text_video,
.menu_ico_text_articles {
  text-align: center;
  margin-top: 25px;
}
.request-form_info {
  display: flex;
  flex-wrap: wrap;
  width: 775px;
}

.request-form_field {
  width: 240px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #319f1c;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  text-decoration: none;
  color: #363130;
  margin-right: 30px;
  padding: 10px 83px 11px 26px;
}

.request-form_field:first-child {
  width: 238px;
  margin-right: 29px;
  padding: 10px 136px 11px 27px;
}

.request-form_submit {
  height: 40px;
  width: 238px;
  border-radius: 3px;
  border: none;
  background: #319f1c;
  box-shadow: 0px 4px 8px 0px #64bc45;
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.request-form_submit:hover,
.request-form_submit:active {
  background: #39cb1c;
}

a {
  text-decoration: none;
}
.request_text {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  padding-left: 25px;
  margin-top: 22px;
  margin-bottom: 123px;
}

.icon-bar {
  display: block;
  width: 87px;
  height: 286px;
  margin-top: 269px;
  margin-left: 769px;
}

.icon-bar button {
  width: 87px;
  height: 64px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 8px 0px #0000001a;
  background: #fff;
  border: #000;
  border-radius: 3px;
}

/* info styles end*/

/* cases style start */

.cases {
  margin-left: 170px;
}

.cases_title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 900;
  line-height: 52px;
  text-align: left;
  color: #363130;
  margin-bottom: 20px;
}

.cases_text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: #000000;
  margin-bottom: 60px;
}
.cases-info {
  display: flex;
  max-width: 1580px;
  margin-bottom: 117px;
}

.cases_list {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin-right: 26px;
}

.house {
  height: 60px;
  width: 373px;
  border-radius: 3px;
  background: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
  text-align: left;
  border: 1px solid #319f1c;
  margin-bottom: 15px;
  padding-left: 23px;
}
.house:first-child {
  background: #319f1c;
  color: #fff;
}

.cases_pic {
  width: 776px;
  height: 435px;
  margin-right: 31px;
}
.background {
  transform: translateX(-2%) translateY(-88%);
}

.cases-button_arr1,
.cases-button_arr2 {
  border: none;
  background: none;
  width: 52px;
  height: 10px;
}

.cases-button_arr1 {
  transform: translateX(-375%) translateY(-600%);
}

.cases-button_arr2 {
  transform: translateX(-300%) translateY(-600%);
}
.cases-button_arr1:hover,
.cases-button_arr2:hover {
  opacity: 0.75;
}

.cases_project {
  height: 435px;
  width: 372px;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 1px 2px 12px 0px #00000040;
}

.title_project {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #363130;
  padding: 35px 60px 31px 75px;
}
.inf-project {
  display: flex;
}
.inf {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  color: #000000;
  padding: 20px;
  padding-left: 37px;
}
.value1 {
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 900;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: #319f1c;
}

.value2 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 900;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #319f1c;
  padding-top: 10px;
}

.inf2 {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  color: #000000;
  padding-top: 20px;
}

.details {
  font-family: Raleway;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  padding: 47px 20px 0 75px;
  text-decoration: underline;
}

.inf-project img {
  padding-top: 53px;
}
.inf-project img:hover {
  opacity: 0.7;
}
/* cases style end */

/* video-blog style start */
.video-blog {
  margin-left: 170px;
}
.video-blog_title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 900;
  line-height: 52px;
  text-align: left;
  color: #363130;
  margin-bottom: 20px;
}

.video-blog_text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 41px;
  color: #000;
}

.video_cards {
  display: flex;
  max-width: 1580px;
  margin-right: 28px;
  margin-bottom: 47px;
}

.video_card-pic {
  position: relative;
  text-align: left;
  margin-right: 28px;
}

.video_card-info {
  position: absolute;
  left: 69px;
  padding-top: 93px;
  width: 100%;
  width: 507px;
  height: 329px;
  margin-right: 28px;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  transform: translateX(-14%);
}

.video_card-title {
  width: 374px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  color: #fff;
  margin-bottom: 38px;
  margin-left: 70px;
  margin-top: -50px;
}

.play_button {
  margin-bottom: 50px;
  margin-left: 226px;
}
.video_text2 {
  position: absolute;
  width: 401px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 27px;
  margin-left: 70px;
}

.more_video {
  width: 238px;
  height: 43px;
  border: none;
  padding: 12px 23px;
  border-radius: 3px;
  background: rgba(49, 159, 28, 1);
  box-shadow: 0px 4px 8px 0px rgba(100, 188, 69, 1);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #fff;
  margin-left: 671px;
  margin-bottom: 165px;
}

.more_video:hover,
.more_video:active {
  background: rgb(66, 203, 28);
}
/* video-blog style end */

/* articles style start */
.articles {
  margin-left: 170px;
}
.articles_title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 900;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #363130;
  margin-bottom: 20px;
}
.articles_text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  margin-bottom: 41px;
}

.articles_cards {
  display: flex;
  max-width: 1580px;
  margin-right: 28px;
  margin-bottom: 59px;
}

.articles_card-pic {
  position: relative;
  text-align: left;
  margin-right: 28px;
}

.articles_card-info {
  position: absolute;
  left: 69px;
  padding-top: 93px;
  width: 100%;
  width: 507px;
  height: 329px;
  margin-right: 28px;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  transform: translateX(-14%);
}

.articles_card-title {
  width: 390px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  color: #fff;
  margin-bottom: 73px;
  margin-left: 65px;
}

.articles_text2 {
  position: absolute;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 27px;
  margin-left: 70px;
}
.articles_text-arrow {
  position: absolute;
  display: flex;
  margin-left: 80px;
  transform: translateY(-200%);
}
.articles_read {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  color: #fff;
  text-decoration: underline;
  padding-left: 255px;
  padding-right: 24px;
}
.articles_text-arrow img {
  padding-right: 46px;
}
.articles_text-arrow img:hover {
  opacity: 0.7;
}

.more_video2 {
  width: 238px;
  height: 43px;
  border: none;
  padding: 12px 23px;
  margin-left: 671px;
  border-radius: 3px;
  background: rgba(49, 159, 28, 1);
  box-shadow: 0px 4px 8px 0px rgba(100, 188, 69, 1);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #fff;
  margin-bottom: 262px;
}

.more_video2:hover,
.more_video2:active {
  background: rgb(66, 203, 28);
}
/* articles style end */

/*cooperation style start*/
.cooperation {
  margin-left: 1109px;
  margin-top: 55px;
}
.cooperation_title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 900;
  line-height: 52px;
  text-align: left;
  color: #2e2c2c;
  margin-bottom: 20px;
}
.cooperation_text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  margin-bottom: 47px;
}

.cooperation-form-wrap {
  display: block;
  width: 507px;
}

.cooperation-form_field {
  width: 507px;
  height: 45px;
  border-radius: 3px;
  border: 1px solid #319f1c;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  text-decoration: none;
  color: #494848;
  margin-bottom: 20px;
  padding: 13px 0 13px 30px;
}
.cooperation-text-form_field {
  width: 507px;
  height: 98px;
  border-radius: 3px;
  border: 1px solid #319f1c;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  text-decoration: none;
  color: #494848;
  margin-bottom: 20px;
  padding-top: 13px;
  padding-left: 30px;
  margin-bottom: 32px;
}

.cooperation-form_submit {
  height: 45px;
  width: 240px;
  border-radius: 3px;
  border: none;
  background: #319f1c;
  box-shadow: 0px 4px 8px 0px #64bc45;
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  margin-bottom: 115px;
}

.cooperation-form_submit:hover,
.cooperation-form_submit:active {
  background: #39cb1c;
}

/*cooperation style end*/

/* footer style start*/
.footer {
  width: 1903px;
  height: 299px;
  background: #363130;
}
.footer_wrapper {
  display: flex;
}
.footer_item {
  display: block;
  padding-top: 50px;
  padding-left: 170px;
}
.footer_logo {
  margin-bottom: 52px;
  margin-right: 253px;
}
.footer_button {
  height: 64px;
  width: 238px;
  border-radius: 6px;
  border: 2px solid #ffffff;
  background: #363130;
  color: #ffffff;
  padding: 22px 56px 23px 57px;
}
.footer_button:hover {
  opacity: 0.75;
}

.footer-menu {
  margin-top: 50px;
  display: flex;
}

.footer-menu_first_column {
  display: flex;
  flex-flow: column;
  width: 208px;
  height: 177px;
  margin-right: 194px;
}
.footer-menu_second_column {
  display: flex;
  flex-flow: column;
  width: 162px;
  height: 177px;
  margin-right: 241px;
}
.footer-menu-value {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts {
  margin-top: 39px;
}
.contacts_text {
  height: 42px;
  width: 237px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 14px;
}
.social-networks {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 34px;
}
.social-networks img {
  margin-right: 20px;
}
.social-networks img:hover {
  opacity: 0.75;
}
.contacts_text2 {
  height: 21px;
  width: 237px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 0;
}
/* footer style end*/
